<div class="main-container">
    <div class="heading">
      <h1 class="heading__title">Reserach</h1>
      
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">1.	Minor Research Project: ‘Title ‘Financial Literacy and its Impact on Women Vegetable Vendors in Navi – Mumbai’, by Board of College & University Development (BCUD), University of Mumbai in year 2019 – 20. Currently working on this project. </h2>
        <p class="card__apply">
          <a class="card__link" href="#">Learn more! <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-2">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">S2.	Minor Research Project: ‘Title ‘Gender Budget Analysis of Budget of Municipal Corporation of Greater Mumbai: 1992-93 to 2014 -15’, by Board of College & University Development (BCUD), University of Mumbai in year 2015 – 16.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Learn More! <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      
      <div class="card card-4">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">3.	Minor research project: ‘Gender Audit of Union Budget of India during the Post-Reform Decade (1992-2002)’.  Project was sanction by BCUD, University of Mumbai for the academic year 2005. The Project is successfully completed & submitted to the university in year 2006.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Learn More! <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-5">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">4.	Major Research project: ‘Women in Chinese and Indian Export Processing Zone: A Case Study of Electronic Industry has completed. This project was sponsored by Indian Council of Social Science Research (ICSSR-New Delhi) and Chinese Academy of Social Science (CASS-Beijing, China) for the academic year 2006. </h2>
        <p class="card__apply">
          <a class="card__link" href="#">
            learn more! <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">5.	Worked on the research project titled ‘Globalization and Cultural Transformation of Dharavi Slum in Mumbai’ in year 2007-08. This project was conducted by PUKAR, an NGO and financially supported by Ford Foundation, USA.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Learn more! <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </div>
  </div>