

<div class="video-lec-container">


<div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <a href="https://www.youtube.com/watch?v=34CrNjpA1Lc"> 
          <img src="https://img.youtube.com/vi/34CrNjpA1Lc/maxresdefault.jpg"></a> 
        </div>
      </div>
    </div>
    <div class="text-container">
      
      <div>
        Research Methodology: Correlation Analysis’
    </div>
  </div>




<div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
            <a href="https://www.youtube.com/watch?v=hp1V2hdT0Ds">
          <img src="https://img.youtube.com/vi/ie2n8SBRQtw/maxresdefault.jpg"></a>
        </div>
      </div>
    </div>
    <div class="text-container">
      
      <div>
        Research Methodology: Correlation Analysis’
    </div>
  </div>


<div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
            <a href="https://www.youtube.com/watch?v=ie2n8SBRQtw">
          <img src="https://img.youtube.com/vi/hp1V2hdT0Ds/maxresdefault.jpg"></a>
        </div>
      </div>
    </div>
    <div class="text-container">
    
      <div>
        ‘Measurement Of Central Tendency: Preliminary Statistical Methods’
    
    </div>
  </div>



</div>