<article>
    <h1>Major Responsibilitiest</h1>
    <p>Coordinator, Internal Quality Assurance Cell (IQAC), a statutory appointment that looks after the overall (Including Teaching and Research) development of institution. I was appointed as coordinator of IQAC in year 2013-14 to 2020-21. Responsibilities discharged during this tenured are given below:  
        a.	‘Academic Audit’ of the Institution (2016) by University of Mumbai. 
        b.	National Accreditation of the Institution (2017) by National Assessment and Accreditation Council (NAAC), Bangaluru, India. 
        c.	Initiatives for ‘Academic & Administrative Autonomy’ of the Institution. 
        d.	Instrumental in switching education from face – to – face to online mode of learning during the Covid – 19 pandemic. 
        </p>
  </article>