<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>welcome</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">bio-sketch</a>
      <a mat-list-item href="#">Qualification</a>
      <a mat-list-item href="#">Teaching </a>
      <a mat-list-item href="#">Reserach</a>
      <a mat-list-item href="#">Publication</a>
      <a mat-list-item href="#">Projects</a>
      <a mat-list-item href="#">Fellowships</a>
      <a mat-list-item href="#">Co0cirriculars</a>
      <a mat-list-item href="#">NCC</a>
      <a mat-list-item href="#">Nss</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Project</span>
    </mat-toolbar>
    <app-content></app-content>
    <br>
    <app-bio></app-bio>
    <br>
    <app-home></app-home>
    <br>
    
    <app-table></app-table>
    <br>
    <app-glow-cards></app-glow-cards>
    <br>
    <app-teachings></app-teachings>
    <br>
    <app-reaserch></app-reaserch>
    <br>
    <app-video-lec></app-video-lec>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>
