
<div><h1 class="home-title">
    <div class="bio-first">
    <span> Surendra Jadhav </span> <br>
    <span><h4>Know more about me below!</h4></span></div>
    </h1>
  

  <div class="bio-cont">
    <p>

      Assistant Professor in Economics (Senior Grade) <br>
      Department of Economics, <br>
      Chetana’s H.S. College of Commerce & Economics, <br>
      Smt. Kusumtai Chaudhari College of Arts, Mumbai <br>
      Government Colony, Bandra (East): Mumbai <br>
      Email: surenforpublication@gmail.com, surenjadhav@gmail.com <br> 
      Mobile No. +91 9869731769 <br>
      
    </p>
  </div>
</div>
