

<br>
<div class="row">


    <div class="column">
      <div class="card">
        <mat-icon>school</mat-icon>
         <h1> education</h1>
        </div>
    </div>

    <div class="column">
      <div class="card" id="card2">
        <mat-icon>biotech</mat-icon>
         <h1>Reserch</h1>
        </div>
    </div>

    <div class="column">
      <div class="card" id="card3">
        <mat-icon>book</mat-icon>
         <h1> Teaching</h1>
        </div>
    </div>

    <div class="column">
      <div class="card" id="card4">
        <mat-icon>groups</mat-icon>
         <h1> Fellowships</h1>
        </div>
    </div>




  </div>